on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21.
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'

      - name: Ensure gradlew is executable
        run: chmod +x gradlew

      - name: Run the Gradle Build (skip tests)
        run: ./gradlew build -x test -x ktlintCheck -x ktlintMainSourceSetCheck -x ktlintKotlinScriptCheck


      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: jar
          path: build/libs/*.jar
